<!-- 
CSS and HTML for the file upload dialog 
Also uses the scripts/upload.js script for handling actuall uploading of the video file and presentation of the thumbnails.
-->
<style type="text/css">
	.fileUpload {
	    position: relative;
	    overflow: hidden;
	    margin: 10px;
	}
	.fileUpload input.upload {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}

	/* Styling of the progress bar is from : http://cssdeck.com/labs/styling-html5-progress-bars */
	progress {
		width: 600px;
		height: 25px;
		margin: 15px auto;
		display: block;
		-webkit-appearance: none;
		border: none;
	}

	/* All good till now. Now we'll style the background */
	progress::-webkit-progress-bar {
		background: black;
		border-radius: 50px;
		padding: 2px;
		box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
	}

	/* Now the value part */
	progress::-webkit-progress-value {
		border-radius: 50px;
		box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
		background:
			-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
			-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
			-webkit-linear-gradient(left, #1717e9, #179ce9);
		
		/* Looks great, now animating it */
		background-size: 25px 14px, 100% 100%, 100% 100%;
		-webkit-animation: move 5s linear 0 infinite;
	}
</style>
<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading"><h3 class="panel-title">Last opp en fil</h3></div>
	    <div class="panel-body" style="margin-top: 10px;">
			<form method="post" action="upload.php">
				<div class="form-group">
					<label for="title">Tittel</label>
					<input type="text" class="form-control" name="title" id="title" placeholder="Tittel på dette videoklippet">
				</div>
				<div class="form-group">
					<label for="description">Beskrivelse</label>
					<textarea class="form-control" name="description" placeholder="Beskrivelse av hva du kan lære ved å se dette videoklippet"></textarea>
				</div>
				<div id="thumbs">
					<b>Select thumbnail image</b>
					<div class="row">
						<div class="form-group col-xs-3">
							<div class="checkbox">
							    <label>
							    	<input type="radio" name="thumb" checked><img class="img-responsive img-rounded" src="" id="thumb0">
							    </label>
							</div>
						</div>
						<div class="form-group col-xs-3">
							<div class="checkbox">
							    <label>
							    	<input type="radio" name="thumb"><img class="img-responsive img-rounded" src="" id="thumb1">
							    </label>
							</div>
						</div>
						<div class="form-group col-xs-3">
							<div class="checkbox">
							    <label>
							    	<input type="radio" name="thumb"><img class="img-responsive img-rounded" src="" id="thumb2">
							    </label>
							</div>
						</div>
						<div class="form-group col-xs-3">
							<div class="checkbox">
							    <label>
							    	<input type="radio" name="thumb"><img class="img-responsive img-rounded" src="" id="thumb3">
							    </label>
							</div>
						</div>
					</div>
				</div>
				<input type="hidden" id="filename" name="filename"/>
				<input type="hidden" id="filepath" name="filepath"/>
				<input type="hidden" id="mimetype" name="mime"/>
				<input type="hidden" id="filesize" name="filesize"/>
				<input type="hidden" id="duration" name="duration"/>
				<div class="form-group">
					<input class="btn btn-primary center-block" id="submitbutton" type="submit" disabled value="Lagre videoen"/>
				</div>
			</form>
			<form class="form-inline" id="upload">
				<div class="form-group">
					<input id="uploadFile" class="form-control" placeholder="Velg fil" disabled="disabled" />
					<div class="fileUpload btn btn-primary">
						<span>Velg fil og last opp</span>
						<input type="file" id="file" class="upload" />
					</div>
				</div>
			</form>
			<progress id="progress" max="100" value="50"></progress>
			<div id="uploadSuccess" class="alert alert-success" role="alert">Filen er lastet opp</div>
			<div id="processing" class="alert alert-warning" role="alert">Thumbnail bilder genereres, venligst vent</div>
		</div>
	</div>
</div>